#topbox{
	background:white;
	border-style: solid;
	border-color: #337ab7;
}
.btn-spacer{
	margin-top:10px;
	margin-right: 30px;
	margin-bottom: 10px;
	padding:10px;
}
#image-center{
	margin-right: auto;
	margin-left:auto;
	display:block;
}
#styl{
    font: "Comic Sans";
    font-size: 24px;
    font-weight: bold;
}